.append-item {
  position: fixed;
  width: 50%;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  z-index: 1109; }
  .append-item.opened {
    z-index: 1108; }
  .append-item .side-content {
    height: 80%;
    padding: 5%; }
    .append-item .side-content > * {
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
  .append-item .side-toggle {
    position: absolute;
    top: -50px;
    background: #fbfbfb;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom: none; }
    .append-item .side-toggle .fa {
      font-size: 32px;
      line-height: 50px;
      color: #f05f40; }
    .append-item .side-toggle.toggle-bottom-xs-1 {
      left: initial;
      right: 5px; }
    .append-item .side-toggle.toggle-bottom-xs-2 {
      left: initial;
      right: 55px; }

.append-side-xs-bottom .append-item {
  bottom: -65%;
  left: 50%;
  height: 65%; }

@media (min-width: 768px) {
  .append-side-md-right .append-item {
    top: 150px;
    height: 73%;
    left: 100%; }
    .append-side-md-right .append-item .side-content {
      height: 100%; }
    .append-side-md-right .append-item .side-toggle {
      left: -50px;
      border-bottom-left-radius: 25px;
      border-top-left-radius: 25px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-right: none; }
      .append-side-md-right .append-item .side-toggle.toggle-right-md-1 {
        top: -1px; }
      .append-side-md-right .append-item .side-toggle.toggle-right-md-2 {
        top: 49px; } }

/*# sourceMappingURL=custom-aside-panel.css.map */
