.append-item {
	position: fixed;
	width: 50%;
	background-color: #fbfbfb;
	border: 1px solid #ddd;
	z-index: 1109;
	
	&.opened {
        z-index: 1108;
    }
    
    .side-content {
        height: 80%;
        padding: 5%;
        
        > * {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
    
    .side-toggle {
        position: absolute;
        top: -50px;
        background: #fbfbfb;
        width: 50px;
        height: 50px;
        text-align: center;
        cursor: pointer;
        border: 1px solid #ddd;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom: none;
        
        .fa {
            font-size: 32px;
            line-height: 50px;
            color: #f05f40;
        }
        
        &.toggle-bottom-xs-1 {
            left: initial;
            right: 5px;
        }
        
        &.toggle-bottom-xs-2 {
            left: initial;
            right: 55px;
        }
    }
}

.append-side-xs-bottom .append-item {
	bottom: -65%;
	left: 50%;
	height: 65%;
}


@media(min-width:768px) {
    .append-side-md-right .append-item {
        top: 150px;
        height: 73%;
        left: 100%;
        
        .side-content {
            height: 100%;
        }
        
        .side-toggle {
            left: -50px;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
            border-right: none;
            
            &.toggle-right-md-1 {
                top: -1px;
            }
            &.toggle-right-md-2 {
                top: 49px;
            }
        }
    }
}