<section class="bg-primary" id="about" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">{{'ABOUT_TITLE' | translate}}</h2>
				<hr  class="hr-themed hr-light">
				<p class="text-faded">{{'ABOUT_DESC' | translate}}</p>
				
				<md-button href="#works" title="Go to 'About' Section" 
					aria-label="Go About" class="page-scroll md-raised md-primary md-button-large">
					{{'ABOUT_GO_WORKS' | translate}}
				</md-button>
				<!--
				<a href="#works" class="btn btn-default btn-xl page-scroll">{{'ABOUT_GO_WORKS' | translate}}</a>
				-->
				<br />
				<!--<em popover-toggle="isGreetingsPopOpen" ng-click="toggleGreetingPopover()" popover-template="greetingsPopover.templateUrl" -->
				<!--	popover-title="{{greetingsPopover.title | translate}}" popover-placement="bottom" id="greetingsPop" class="clickable" >{{'SEE_GREETINGS' | translate}}</em>-->
			</div>
		</div>
	</div>
</section>