<nav id="asideNav" class="" ea-aside-menu="{position: 'right', closeOnOutside: true, trigger: 'asideNav', showInnerTrigger: false}">
	<!--<a ea-aside-trigger="asideNav" href="#" class="aside-nav-trigger"><span>Menu</span></a>-->
	<ul>
		<li ng-repeat="lang in languages" class="aside-lang" ng-class="{active: lang.isCurrent()}">
			<!--<md-button ng-class="{active: lang.isCurrent()}" class="md-raised md-primary">
				<span class="hidden-md hidden-lg">{{lang.code | translate}}</span>
				<span class="hidden-xs hidden-sm">{{lang.title | translate}}</span>
			</md-button>-->
			
			<a href="" ng-click="lang.setCurrent()">
				<span class="hidden-md hidden-lg">{{lang.code | translate}}</span>
				<span class="hidden-xs hidden-sm">{{lang.title | translate}}</span>
			</a>
			
		</li>
		<!--
		<div class="col-xs-3 col-md-6 language" ng-repeat="lang in languages">
        	<div class="flag-wrapper" ng-click="lang.setCurrent()">
          		<div class="img-thumbnail flag flag-icon-background flag-icon-{{lang.icon}}">
          		</div>
            </div>
            <button class="btn btn-primary btn-block" type="button" ng-class="{active: lang.isCurrent()}" ng-click="lang.setCurrent()">
            	<span class="hidden-md hidden-lg">{{lang.code | translate}}</span>
				<span class="hidden-xs hidden-sm">{{lang.title | translate}}</span>
            </button>
      	</div>
      	-->
	</ul>
</nav>

<!--
<md-button ng-click="toggleNav()" class="md-primary">Toggle right</md-button>
-->
<!--
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="mainSideNav">
	<md-toolbar class="md-theme-light">
		<h1 class="md-toolbar-tools">Sidenav Right</h1>
	</md-toolbar>
	<md-content ng-controller="MainSideNavController" layout-padding>
		<form>
			<md-input-container>
				<label for="testInput">Test input</label>
				<input type="text" id="testInput"
				   ng-model="data" md-autofocus />
			</md-input-container>
		</form>
		<md-button ng-click="close()" class="md-primary">
			Close Sidenav Right
		</md-button>
	</md-content>
</md-sidenav>
-->
<!--
<md-fab-speed-dial md-open="demo.isOpen" md-direction="{{demo.selectedDirection}}"
	ng-class="demo.selectedMode">
	
	<md-fab-trigger>
		<md-button aria-label="menu" class="md-fab md-warn">
			<md-icon><i class="fa fa-flag-o"></i></md-icon>
		</md-button>
	</md-fab-trigger>
	<md-fab-actions>
		<md-button aria-label="Twitter" class="md-fab md-raised md-mini">
			<md-icon md-svg-src="img/icons/twitter.svg" aria-label="Twitter"></md-icon>
		</md-button>
		<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
			<md-icon md-svg-src="img/icons/facebook.svg" aria-label="Facebook"></md-icon>
		</md-button>
		<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
			<md-icon md-svg-src="img/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
		</md-button>
	</md-fab-actions>
</md-fab-speed-dial>
-->

<!--<link rel="stylesheet" href="public/js/directives/custom-aside-panel.css" type="text/css">-->
<!--
<div ea-custom-panel>
	<div class="append-item">
		<div class="side-toggle">
			<i class="fa fa-github"></i>
		</div>
		<div class="side-content">
			<h1>{{'GITHUB_TITLE' | translate}}</h1>
			<div id="my-github" github-activity events="activity" options="config"></div>
		</div>
	</div>
	<div class="append-item">
		<div class="side-toggle">
			<i class="fa fa-flag-o"></i>
		</div>
		<div class="side-content">
			<h1>{{'LANG_TITLE' | translate}}</h1>
			<ul class="list-langs">
				<style>
					.flag-wrapper {
					  width: 100%;
					  display: inline-block;
					  position: relative;
					  box-shadow: 0 0 2px black;
					  overflow: hidden;
					  margin-top: 20px;
					}
					.flag-wrapper:hover {
						cursor: pointer;
					}
					
					.flag-wrapper:after {
					  padding-top: 75%; /* ratio */
					  display: block;
					  content: '';
					}
					
					.flag-wrapper .flag {
					  position: absolute;
					  top: 0; bottom: 0; right: 0; left: 0;
					  width: 100%;
					  height: 100%;
					  background-size: cover;
					}
					

				</style>
				
				<div class="col-xs-3 col-md-6 language" ng-repeat="lang in languages">
	            	<div class="flag-wrapper" ng-click="lang.setCurrent()">
	              		<div class="img-thumbnail flag flag-icon-background flag-icon-{{lang.icon}}">
	              		</div>
		            </div>
		            <button class="btn btn-primary btn-block" type="button" ng-class="{active: lang.isCurrent()}" ng-click="lang.setCurrent()">
		            	<span class="hidden-md hidden-lg">{{lang.code | translate}}</span>
						<span class="hidden-xs hidden-sm">{{lang.title | translate}}</span>
		            </button>
	          	</div>
				
			</ul>
		</div>
	</div>
</div>
-->