<section id="contact"  ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">{{'CONTACT_TITLE' | translate}}</h2>
				<hr class="hr-themed">
				<p>{{'CONTACT_DESC' | translate}}</p>
			</div>
			<div class="col-lg-4 col-lg-offset-1 text-center">
				<i class="fa fa-phone fa-3x wow bounceIn icon-themed"></i>
				<p>(+33) 7 82 88 30 98 - {{'LANG_FRANCE' | translate}}</p>
				<p>(+34) 660 284 171 - {{'LANG_SPAIN' | translate}}</p>
				
				<ul class="socials">
					<li><a href="https://github.com/eastolfi" target="_blank">
						<span class="fa-stack">
					  		<!--<i class="fa fa-square-o fa-stack-2x"></i>-->
					  		<i class="fa fa-github fa-stack-1x"></i>
						</span>
					</a></li>
					<li><a href="https://bitbucket.org/eastolfi/" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
					<li><a href="https://fr.linkedin.com/in/eduardoastolfi" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>
				<ul class="socials">
					<li><a href="https://twitter.com/EAstolfiWebDev" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/eduardo.astolfi.7" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://plus.google.com/117421566421574856497/posts/p/pub" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			
			<div class="col-lg-7">
				<form id="contact-form" action="contact" method="POST" name="contactForm" novalidate="" ng-cloak>
					<!-- Name -->
					<md-card class="md-card-input-container">
						<md-input-container class="md-icon-float" >
							<label for="contactName">{{'CONTACT_FORM_PH_NAME' | translate}}</label>
							
							<md-icon class="md-input-icon-themed"><i class="fa fa-user fa-2x"></i></md-icon>
							<input id="contactName" required="" name="contactName"  
								class="requiredField" ng-model="model.contactName" ng-minlength="3" md-maxlength="25" type="text" />
								
							<div ng-show="contactForm.contactName.$touched" ng-messages="contactForm.contactName.$error" class="mg-messages">
								<div ng-message="required">
									{{'CONTACT_FORM_ERROR_NAME_REQUIRED' | translate}}
								</div>
								<div ng-message="minlength">
									{{'CONTACT_FORM_ERROR_NAME_MIN' | translate}}
								</div>
								<div ng-message="md-maxlength">
									{{'CONTACT_FORM_ERROR_NAME_MAX' | translate}}
								</div>
							</div>
						</md-input-container>
					</md-card>
					
					<!-- Email -->
					<md-card class="md-card-input-container">
						<md-input-container class="md-icon-float" >
							<label for="contactMail">{{'CONTACT_FORM_PH_EMAIL' | translate}}</label>
							
							<md-icon class="md-input-icon-themed"><i class="fa fa-envelope fa-2x"></i></md-icon>
							<input id="contactMail" required="" name="contactMail"  
								class="requiredField" ng-model="model.contactMail" type="email" />
								
							<div ng-show="contactForm.contactMail.$touched" ng-messages="contactForm.contactMail.$error" class="mg-messages">
								<div ng-message="required">
									{{'CONTACT_FORM_ERROR_EMAIL_REQUIRED' | translate}}
								</div>
								<div ng-message="email">
									{{'CONTACT_FORM_ERROR_EMAIL_VALID' | translate}}
								</div>
							</div>
						</md-input-container>
					</md-card>
					
					<!-- Content -->
					<md-card class="md-card-input-container">
						<md-input-container class="md-icon-float" >
							<label for="contactContent">{{'CONTACT_FORM_PH_CONTENT' | translate}}</label>
							
							<md-icon class="md-input-icon-themed"><i class="fa fa-comment fa-2x"></i></md-icon>
							<textarea id="contactContent" required="" name="contactContent" rows="5" 
								class="requiredField" ng-model="model.contactContent" ng-minlength="10" type="text"></textarea>
								
							<div ng-show="contactForm.contactContent.$touched" ng-messages="contactForm.contactContent.$error" class="mg-messages">
								<div ng-message="required">
									{{'CONTACT_FORM_ERROR_CONTENT_REQUIRED' | translate}}
								</div>
								<div ng-message="minlength">
									{{'CONTACT_FORM_ERROR_CONTENT_MIN' | translate}}
								</div>
							</div>
						</md-input-container>
					</md-card>
					
					<!-- Action Buttons -->
					<md-button ng-click="doOnSubmit()" class="md-raised md-primary btn-block btn-xl btn-submit"
						ng-disabled="contactForm.$invalid || sendingMail">
						<i class="fa fa-paper-plane"></i> {{label_send_mail | translate}}
					</md-button>
					
					<alert type="success" ng-show="emailSuccess">{{'CONTACT_SUBMITION_SUCCESS' | translate}}</alert>
					<alert type="danger" ng-show="emailError">{{'CONTACT_SUBMITION_ERROR' | translate}}</alert>
					
					<div class="col-xs-12 text-center">
						<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
						<p>
							{{'CONTACT_FORM_ALT' | translate}}<a href="mailto:eduardo.astolfi91@gmail.com">eduardo.astolfi91@gmail.com</a>
						</p>
					</div>
				</form>
			</div>
			<!-- End contact-form -->
		</div>
	</div>
</section>