<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Eduardo Astolfi - Personal Portfolio of a Web Developer">
<meta name="author" content="Eduardo Astolfi">
<meta name="keywords" content="HTML, HTML5, CSS, CSS3, XML, XHTML, JavaScript, AngularJS, NodeJS, Portfolio, Web, Development">

<link rel="icon" href="public/img/icons/favicon_512.png">
<!--[if IE]><link rel="shortcut icon" href="public/img/icons/favicon.ico"><![endif]-->