<!-- Color Schema Testing
<md-button class="md-primary">Primary</md-button>
<md-button class="md-primary md-hue-1">Primary - Hue 1</md-button>
<md-button class="md-primary md-hue-2">Primary - Hue 2</md-button>
<md-button class="md-primary md-hue-3">Primary - Hue 3</md-button>
<md-button class="md-accent">Accent</md-button>
<md-button class="md-accent md-hue-1">Accent - Hue 1</md-button>
<md-button class="md-accent md-hue-2">Accent - Hue 2</md-button>
<md-button class="md-accent md-hue-3">Accent - Hue 3</md-button>
<md-button class="md-warn">Warn</md-button>
<md-button class="md-warn md-hue-1">Warn - Hue 1</md-button>
<md-button class="md-warn md-hue-2">Warn - Hue 2</md-button>
<md-button class="md-warn md-hue-3">Warn - Hue 3</md-button>
-->

<header ng-cloak class="main-header">
	<div class="header-content">
		<div class="header-content-inner text-center">
			<h1>{{'HEADER_TITLE' | translate}}</h1>
			<hr class="hr-themed">
			<p>{{'HEADER_DESC' | translate}}</p>
			
			<md-button href="#about" title="Go to 'About' Section" 
				aria-label="Go About" class="page-scroll md-raised md-primary md-button-large">
				{{'HEADER_GO_ABOUT' | translate}}
			</md-button>
			<!--
			<a href="#about" class="btn btn-primary btn-xl page-scroll">{{'HEADER_GO_ABOUT' | translate}}</a>
			-->
		</div>
	</div>
</header>		