<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Eduardo Astolfi - Personal Portfolio of a Web Developer">
<meta name="author" content="Eduardo Astolfi">
<meta name="keywords" content="HTML, HTML5, CSS, CSS3, XML, XHTML, JavaScript, AngularJS, NodeJS, Portfolio, Web, Development">

<meta name="google-site-verification" content="Wpn_TCLQhAZZURxZqVU31FgWMk5YVy7lpducJ7kOjtg" />

<link rel="icon" href="public/img/icons/favicon_512.png">
<!--[if IE]><link rel="shortcut icon" href="public/img/icons/favicon.ico"><![endif]-->

<title>Eduardo Astolfi - Personal Web Page</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css" type="text/css">

<!-- Angular Material -->
<link href="bower/angular-material/angular-material.css" rel="stylesheet" type="text/css" />

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="bower/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="bower/font-mfizz/css/font-mfizz.css" rel="stylesheet" type="text/css">

<!-- Flags -->
<!--<link rel="stylesheet" href="bower/flag-icon-css/css/flag-icon.min.css" type="text/css">-->

<!-- Animate -->
<link rel="stylesheet" href="bower/animate.css/animate.min.css" type="text/css">

<!-- Github Activity -->
<!--<link rel="stylesheet" href="bower/angular-github-activity/release/css/github-activity.min.css">-->


<link rel="stylesheet" href="public/js/directives/ea-aside-menu/ea-aside-menu.css">

<!-- Application Styles -->
<!--<link rel="stylesheet" href="public/css/styles.css" type="text/css">-->
<link rel="stylesheet" href="public/css/styles_material.css" type="text/css">