<section id="hiring" ng-cloak>
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">{{'HIRING_TITLE' | translate}}</h2>
		<hr class="hr-themed">
	</div>
	<!--
	<div layout="row" layout-fill="">
		<div flex="33" ng-repeat="jobItem in jobs">
			<md-card class="md-card-themed md-whiteframe-z4">
				<md-card>
					<md-card-content>
						<h3 class="md-title">
							<a href="{{jobItem.job_link}}" target="_blank">
								{{'HIRING_JOB_' + jobItem.key + '_CHARGE' | translate}}
							</a>
						</h3>
					</md-card-content>
				</md-card>
				
				<md-card-content>
					<p>
						<a href="{{jobItem.company_link}}" target="_blank">{{'HIRING_JOB_' + jobItem.key + '_COMPANY' | translate}}</a>, 
						<a href="{{jobItem.place_link}}" target="_blank">
							{{'HIRING_JOB_' + jobItem.key + '_PLACE' | translate}}
						</a>
					</p>
					
					<hr class="full" />
					
					<p class="">
						{{'HIRING_JOB_' + jobItem.key + '_DESCRIPTION' | translate}}
					</p>
					
					<md-list>
						<md-subheader class="md-no-sticky">3 line item</md-subheader>
						<md-list-item class="md-3-line" ng-repeat="taskItem in jobItem.tasks">
							<div class="md-list-item-text" layout="column">
								<p>{{'HIRING_JOB_' + jobItem.key + '_TASK_' + taskItem | translate}}</p>
							</div>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</div>
	</div>
	-->
	
	<md-content class="md-padding md-whiteframe-z1">
		<md-tabs md-border-bottom>
			<md-tab ng-repeat="jobItem in jobs">
				<!--<md-tab-label>{{jobItem.key}}</md-tab-label>-->
				<md-tab-label>{{'HIRING_JOB_' + jobItem.key + '_COMPANY' | translate}}</md-tab-label>
				
				<md-tab-body>
					<div layout="row" layout-sm="column">
						<div flex="55">
							<h4>
								<a href="{{jobItem.job_link}}" target="_blank">{{'HIRING_JOB_' + jobItem.key + '_CHARGE' | translate}}</a>
							</h4>
							<!--{{'HIRING_JOB_' + jobItem.key + '_COMPANY' | translate}}-->
							<!--
							<md-button class="md-icon-button md-mini" href="{{jobItem.company_link}}" target="_blank">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
							-->
						</div>
							<!--
							<a href="{{jobItem.company_link}}" target="_blank">
								{{'HIRING_JOB_' + jobItem.key + '_COMPANY' | translate}}
							</a>,
							-->
							
						<div flex>
							<md-button aria-label="Use Android" href="{{jobItem.place_link}}" target="_blank" class="md-raised">
								<span>
									{{'HIRING_JOB_' + jobItem.key + '_PLACE' | translate}}
								</span>
								<md-icon><i class="fa fa-map-marker fa-2x"></i></md-icon>
								<!--<span>Ver en Google Maps</span>-->
						    </md-button>
						</div>
					</div>
					
					
					<span>
						{{'HIRING_JOB_' + jobItem.key + '_DESCRIPTION' | translate}}
					</span>
					<!--
					<md-fab-speed-dial md-open="true" md-direction="down" class="md-scale">
						<md-fab-trigger>
							<md-button aria-label="menu" class="md-fab md-warn">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
						</md-fab-trigger>
						<md-fab-actions>
							<md-button aria-label="Twitter" class="md-fab md-raised md-mini">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
							<md-button aria-label="Facebook" class="md-fab md-raised md-mini">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
							<md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
						</md-fab-actions>
					</md-fab-speed-dial>
					-->
					<!--
					<md-fab-toolbar md-direction="left">
						<md-fab-trigger class="align-with-text">
							<md-button aria-label="menu" class="md-fab md-primary">
								<md-icon><i class="fa fa-user"></i></md-icon>
							</md-button>
						</md-fab-trigger>
						<md-toolbar>
							<md-fab-actions class="md-toolbar-tools">
								<md-button aria-label="comment" class="">
									<md-icon>GO GO</md-icon>
								</md-button>
								<md-button aria-label="label" class="md-icon-button">
									<md-icon><i class="fa fa-user"></i></md-icon>
								</md-button>
								<md-button aria-label="photo" class="md-icon-button">
									<md-icon><i class="fa fa-user"></i></md-icon>
								</md-button>
							</md-fab-actions>
						</md-toolbar>
					</md-fab-toolbar>
					-->
					
					<md-list>
						<md-subheader class="md-primary">Competencias</md-subheader>
						
						<md-list-item class="md-3-line" ng-repeat="taskItem in jobItem.tasks">
							<!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
							<div class="md-list-item-text" layout="column">
								<p>{{'HIRING_JOB_' + jobItem.key + '_TASK_' + taskItem | translate}}</p>
							</div>
							
							<md-divider ng-if="!$last"></md-divider>
						</md-list-item>
					</md-list>
					<!--
					<div class="panel-heading">
						<h4 class="panel-title"><a href="{{jobItem.job_link}}" target="_blank">{{'HIRING_JOB_' + jobItem.key + '_CHARGE' | translate}}</a></h4>
					</div>
					<div class="panel-body">
						<p>
							<a href="{{jobItem.company_link}}" target="_blank">{{'HIRING_JOB_' + jobItem.key + '_COMPANY' | translate}}</a>, 
							<a href="{{jobItem.place_link}}" target="_blank">
								{{'HIRING_JOB_' + jobItem.key + '_PLACE' | translate}}
							</a>
						</p>
						<hr class="full" />
						<p>
							{{'HIRING_JOB_' + jobItem.key + '_DESCRIPTION' | translate}}
						</p>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="taskItem in jobItem.tasks">
								{{'HIRING_JOB_' + jobItem.key + '_TASK_' + taskItem | translate}}
							</li>
						</ul>
					</div>
					-->
				</md-tab-body>
			</md-tab>
		</md-tabs>
	</md-content class>
</section>