<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		
		<link rel="icon" href="public/img/icons/favicon_512.png">
		<!--[if IE]><link rel="shortcut icon" href="public/img/icons/favicon.ico"><![endif]-->

		<title>Eduardo Astolfi - Personal Web Page</title>
		
		<!-- Bootstrap Core CSS -->
		<link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css" type="text/css">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="bower/font-awesome/css/font-awesome.min.css" type="text/css">

		<!-- Animate -->
		<link rel="stylesheet" href="bower/animate.css/animate.min.css" type="text/css">

		<!-- Github Activity -->
		<link rel="stylesheet" href="bower/angular-github-activity/release/css/github-activity.min.css">

		<!-- Application Styles -->
		<link rel="stylesheet" href="public/css/styles.css" type="text/css">
		
		<style>
			/* Start: Recommended Isotope styles */

			/**** Isotope Filtering ****/

			.isotope-item {
			  z-index: 2;
			}

			.isotope-hidden.isotope-item {
			  pointer-events: none;
			  z-index: 1;
			}

			/**** Isotope CSS3 transitions ****/

			.isotope,
			.isotope .isotope-item {
			  -webkit-transition-duration: 0.8s;
				 -moz-transition-duration: 0.8s;
				  -ms-transition-duration: 0.8s;
				   -o-transition-duration: 0.8s;
					  transition-duration: 0.8s;
			}

			.isotope {
			  -webkit-transition-property: height, width;
				 -moz-transition-property: height, width;
				  -ms-transition-property: height, width;
				   -o-transition-property: height, width;
					  transition-property: height, width;
			}

			.isotope .isotope-item {
			  -webkit-transition-property: -webkit-transform, opacity;
				 -moz-transition-property:    -moz-transform, opacity;
				  -ms-transition-property:     -ms-transform, opacity;
				   -o-transition-property:      -o-transform, opacity;
					  transition-property:         transform, opacity;
			}

			/**** disabling Isotope CSS3 transitions ****/

			.isotope.no-transition,
			.isotope.no-transition .isotope-item,
			.isotope .isotope-item.no-transition {
			  -webkit-transition-duration: 0s;
				 -moz-transition-duration: 0s;
				  -ms-transition-duration: 0s;
				   -o-transition-duration: 0s;
					  transition-duration: 0s;
			}

			/* End: Recommended Isotope styles */



			/* disable CSS transitions for containers with infinite scrolling*/
			.isotope.infinite-scrolling {
			  -webkit-transition: none;
				 -moz-transition: none;
				  -ms-transition: none;
				   -o-transition: none;
					  transition: none;
			}
		</style>
	</head>
	
	<body ng-app="portfolio" ng-controller="indexController" id="page-top">
		<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">
						<img alt="Brand" src="public/img/icons/page_icon.svg">
						Eduardo Astolfi
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a class="page-scroll" href="#about">{{'MENU_NAV_ABOUT' | translate}}</a>
						</li>
						<li>
							<a class="page-scroll" href="#skills">{{'MENU_NAV_SKILLS' | translate}}</a>
						</li>
						<li>
							<a class="page-scroll" href="#works">{{'MENU_NAV_WORKS' | translate}}</a>
						</li>
						<li>
							<a class="page-scroll" href="#hiring">{{'MENU_NAV_HIRING' | translate}}</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact">{{'MENU_NAV_CONTACT' | translate}}</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
		
		<header>
			<div class="header-content">
				<div class="header-content-inner">
					<h1>{{'HEADER_TITLE' | translate}}</h1>
					<hr>
					<p>{{'HEADER_DESC' | translate}}</p>
					<a href="#about" class="btn btn-primary btn-xl page-scroll">{{'HEADER_GO_ABOUT' | translate}}</a>
				</div>
			</div>
		</header>
		
		<section class="bg-primary" id="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">{{'HEADER_GO_ABOUT' | translate}}</h2>
						<hr class="light">
						<p class="text-faded">{{'ABOUT_DESC' | translate}}</p>
						<a href="#works" class="btn btn-default btn-xl page-scroll">{{'ABOUT_GO_WORKS' | translate}}</a>
					</div>
				</div>
			</div>
		</section>
		
		<section id="skills">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h2 class="section-heading">{{'SKILLS_TITLE' | translate}}</h2>
						<hr class="primary">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div ng-repeat="skill in skills" class="col-lg-3 col-md-6 text-center" ng-cloak>
						<span class="chart" data-percent="{{skill.percent}}">
							<i ng-repeat="icon in skill.icon.split(',')" class="fa fa-4x fa-{{icon.trim()}} wow bounceIn text-primary" data-wow-delay=".1s"></i>
							<br />
							<span class="percent">{{skill.percent}}</span>
							<canvas height="170" width="170"></canvas>
						</span>
						<a class="page-scroll" href="#{{skill.link}}"><h3>{{skill.label}}</h3></a>
						<p class="text-muted">{{skill.desc | translate}}</p>
					</div>
				</div>
			</div>
		</section>
		
		<section class="no-padding text-center" id="works">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{'WORKS_TITLE' | translate}}</h2>
				<hr class="primary">
			</div>
			
			<!--<div id="filter-works" opt-kind ok-key="filter">
				<ul>
					<li class="active" ok-sel="*">
						{{'WORKS_ALL' | translate}}
					</li>
					<li ok-sel=".pages">
						{{'WORKS_PAGES' | translate}}
					</li>
					<li ok-sel=".apps">
						{{'WORKS_APPS' | translate}}
					</li>
				</ul>
			</div>-->
			<div id="filter-works">
				<ul>
					<li class="active" ng-click="filterMasonry($event, '*')">
						{{'WORKS_ALL' | translate}}
					</li>
					<li ng-click="filterMasonry($event, '.pages')">
						{{'WORKS_PAGES' | translate}}
					</li>
					<li ng-click="filterMasonry($event, '.apps')">
						{{'WORKS_APPS' | translate}}
					</li>
				</ul>
			</div>
						
			<div class="container-fluid"><!---->
				<div id="projects-container" masonry preserve-order item-selector=".masonry-brick:not(.filtered)" class="row"  ng-cloak ><!--isotope-container images-loaded images-loaded-events="imgLoadedEvents"-->
					<div ng-repeat="work in works" class="project-item masonry-brick {{work.filter}}" data-index="{{work.order}}"><!--isotope-item-->
						<a href="{{work.link}}" class="portfolio-box" target="_blank">							
							<img ng-src="{{work.image}}" class="img-responsive" alt=""/>
							<div class="portfolio-box-caption">
								<div class="portfolio-box-caption-content">
									<div class="project-category text-faded">
										{{work.category}}
									</div>
									<div class="project-name">
										{{work.name}}
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>
		
		<section id="hiring">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{'HIRING_TITLE' | translate}}</h2>
                <hr class="primary">
            </div>
			<div class="container">
				<div class="col-lg-12 text-center">
					<div class="col-xs-12 col-md-4 panel panel-info experience">
						<div class="panel-heading">
							<h4 class="panel-title"><a href="https://fr.linkedin.com/in/eduardoastolfi" target="_blank">Programador J2EE y PHP Senior</a></h4>
						</div>
						<div class="panel-body">
							<p>
								<a href="http://www.expectra.fr" target="_blank">Expectra</a>, 
								<a href="https://www.google.com/maps/@45.391266,1.389831,3a,75y,171.27h,78t/data=!3m6!1e1!3m4!1sn0BpbfS7srm4Y8P5bNxBng!2e0!7i13312!8i6656" target="_blank">
									Arnac-Pompadour (Francia)
								</a>
							</p>
							<hr class="full" />
							<p class="exp-description">
								Participación en diversos proyectos para “IFCE” y “Les Haras Nationaux”, tanto en entornos Java J2EE como PHP.
							</p>
							<ul class="list-group">
								<li class="list-group-item">
									Mantenimiento y evolutivos de aplicaciones Java J2EE y PHP en producción.
								</li>
								<li class="list-group-item">
									Generación de reportes con Eclipse BIRT.
								</li>
								<li class="list-group-item">
									Migración de canales de EquiVOD, mediante APIs y clientes en PHP.
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 panel panel-default experience">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="https://fr.linkedin.com/in/eduardoastolfi" target="_blank">Programador J2EE Senior</a>
							</h4>
						</div>
						<div class="panel-body">
							<p>
								<a href="http://www.tragsa.es" target="_blank">Tragsatec</a>, 
								<a href="https://www.google.com/maps/@40.43414,-3.630808,3a,75y,152.86h,81.09t/data=!3m6!1e1!3m4!1soZFp1Y6-W7jY2bfRUQPtYw!2e0!7i13312!8i6656" target="_blank">
									Madrid (España)
								</a>
							</p>							
							<hr class="full" />
							<p class="exp-description">
								Colaboración en el proyecto de automatización y generación de ayudas de la PAC (Política Agrícola Común) para las comunidades autónomas de España.
							</p>
							<ul class="list-group">
								<li class="list-group-item">
									Desarrollo de módulos y componentes de la aplicación, mediante el uso de Java, Struts 2 e Hibernate.
								</li>
								<li class="list-group-item">
									Creación de componentes gráficos para la interfaz con HTML, Javascript y jQuery.
								</li>
								<li class="list-group-item">
									Desarrollo e integración de servicios Web y de sus clientes para el acceso a gestores documentales (Alfresco).
								</li>
							</ul>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 panel panel-info experience">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a href="https://fr.linkedin.com/in/eduardoastolfi" target="_blank">Programador J2EE Junior</a>
							</h4>
						</div>
						<div class="panel-body">
							<p>
								<a href="http://www.jobynet.com" target="_blank">Eitjobs</a>, 
								<a href="https://www.google.com/maps/@40.441474,-3.676787,3a,75y,288.73h,82.12t/data=!3m6!1e1!3m4!1sidEm3IfDR6XbcCZpBdQJbA!2e0!7i13312!8i6656!6m1!1e1" target="_blank">
									Madrid (España)
								</a>
							</p>
							<hr class="full" />
							<p class="exp-description">
								Colaboración en un proyecto para el desarrollo de un nuevo sistema de información para los institutos de medicina legal (IML) 
								dentro del programa de innovación tecnológica del Ministerio de Justicia de España.

							</p>
							<ul class="list-group">
								<li class="list-group-item">
									Desarrollo de módulos de la aplicación mediante Java, Spring e Hibernate.
								</li>
								<li class="list-group-item">
									Integración y creación de componentes de lógica de negocio, con Java y Spring, y de la interfaz, con Javascript y jQuery.
								</li>
								<li class="list-group-item">
									Utilización de librerías y clientes para integrar la gestión de documentos y el acceso a Alfresco y CMIS.
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			
		</section>
		
		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2 text-center">
						<h2 class="section-heading">{{'CONTACT_TITLE' | translate}}</h2>
						<hr class="primary">
						<p>{{'CONTACT_DESC' | translate}}</p>
					</div>
					<div class="col-lg-4 col-lg-offset-1 text-center">
						<i class="fa fa-phone fa-3x wow bounceIn"></i>
						<p>(+33) 07 82 88 30 98 - {{'LANG_FRANCE' | translate}}</p>
						<p>(+34) 660 284 171 - {{'LANG_SPAIN' | translate}}</p>
						
						<ul class="socials">
							<li><a href="https://github.com/eastolfi"><i class="fa fa-github"></i></a></li>
							<li><a href="https://fr.linkedin.com/in/eduardoastolfi"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#dribbble-link"><i class="fa fa-dribbble"></i></a></li>
						</ul>
						<ul class="socials">
							<li><a href="https://twitter.com/EduardoAstolfi"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/eduardo.astolfi.7"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://plus.google.com/117421566421574856497/posts/p/pub"><i class="fa fa-google-plus"></i></a></li>
						</ul>
					</div>
					<!--<div class="col-lg-4 text-center">
						<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
						<p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
					</div>-->
					
					<form id="contact-form" class="col-lg-7 scrollimation fade-left" action="contact" method="POST" name="contactForm" novalidate="" ng-cloak>
						<div class="form-group" ng-class="{'has-error': contactForm.contactName.$touched && contactForm.contactName.$dirty && contactForm.contactName.$invalid}">
							<label class="control-label" for="contactName">{{'CONTACT_FORM_NAME' | translate}}</label>
							<div class="controls">
								<i class="fa fa-user"></i>
								<input id="contactName" required="" name="contactName" placeholder="{{'CONTACT_FORM_PH_NAME' | translate}}" class="form-control input-lg requiredField" 
									ng-model="model.contactName" ng-minlength="3" type="text">
							</div>
						</div>
						
						<div ng-show="contactForm.contactName.$touched && contactForm.contactName.$dirty">
							<div class="alert alert-danger" ng-show="contactForm.contactName.$error.required">
								{{'CONTACT_FORM_ERROR_NAME_REQUIRED' | translate}}
							</div>
							<div class="alert alert-danger" ng-show="contactForm.contactName.$error.minlength">
								{{'CONTACT_FORM_ERROR_NAME_MIN' | translate}}
							</div>
						</div>
						<!-- End name input -->
						
						<div class="form-group" ng-class="{'has-error': contactForm.contactMail.$touched && contactForm.contactMail.$dirty && contactForm.contactMail.$invalid}">
							<label class="control-label" for="contactMail">{{'CONTACT_FORM_EMAIL' | translate}}</label>
							<div class=" controls">
								<i class="fa fa-envelope"></i>
								<input id="contactMail" name="contactMail" placeholder="{{'CONTACT_FORM_PH_EMAIL' | translate}}" class="form-control input-lg requiredField" type="email" 
									required="" ng-model="model.contactMail">
							</div>
						</div>
						
						<div ng-show="contactForm.contactMail.$touched && contactForm.contactMail.$dirty">
							<div class="alert alert-danger" ng-show="contactForm.contactMail.$error.required">
								{{'CONTACT_FORM_ERROR_EMAIL_REQUIRED' | translate}}
							</div>
							<div class="alert alert-danger" ng-show="!contactForm.contactMail.$error.required && contactForm.contactMail.$invalid">
								{{'CONTACT_FORM_ERROR_EMAIL_VALID' | translate}}
							</div>
						</div>						
						<!-- End email input -->

						<div class="form-group" ng-class="{'has-error': contactForm.contactContent.$touched && contactForm.contactContent.$dirty && contactForm.contactContent.$invalid}">
							<label class="contactContent" for="contactContent">{{'CONTACT_FORM_CONTENT' | translate}}</label>
							<div class="controls">
								<i class="fa fa-comment"></i>
								<textarea id="contactContent" name="contactContent" placeholder="{{'CONTACT_FORM_PH_CONTENT' | translate}}" class="form-control input-lg requiredField" rows="5" 
									required="" ng-minlength="10" ng-model="model.contactContent"></textarea>
							</div>
						</div>
						
						<div ng-show="contactForm.contactContent.$touched && contactForm.contactContent.$dirty">
							<div class="alert alert-danger" ng-show="contactForm.contactContent.$error.required">
								{{'CONTACT_FORM_ERROR_CONTENT_REQUIRED' | translate}}
							</div>
							<div class="alert alert-danger" ng-show="contactForm.contactContent.$error.minlength">
								{{'CONTACT_FORM_ERROR_CONTENT_MIN' | translate}}
							</div>
						</div>
						<!-- End textarea -->

						<p>
							<button ng-click="doOnSubmit()" type="button" class="btn btn-theme btn-block" ng-disabled="contactForm.$invalid">
								<i class="fa fa-paper-plane"></i> {{label_send_mail | translate}}
							</button>
						</p>
						<!--<input type="hidden" name="submitted" id="submitted" value="true">-->
						
					</form>
					<!-- End contact-form -->
				</div>
			</div>
		</section>
		
		
		<!--<div id="github-profile">
			<div id="toggle-github">
				<i class="fa fa-github"></i>
			</div>
			<h1>{{'GITHUB_TITLE' | translate}}</h1>
			<div id="my-github" github-activity events="activity" options="config"></div>
		</div>-->
		
		<style>

			.append-side {				

			}
			.append-side-right .append-item {
				position:fixed;
				top: 150px;
				right: -500px;
			}
			.append-side .append-item {
				width: 500px;
                background: #fbfbfb;
                border: 1px solid #ddd;
                z-index: 1109;
			}
			.append-side .append-item .side-toggle {
				position: absolute;
                left: -50px;
				background: #fbfbfb;
				width: 50px;
				height: 50px;
				text-align: center;
				cursor: pointer;
                border: 1px solid #ddd;
				border-bottom-left-radius: 25px;
				border-top-left-radius: 25px;
				border-right: none;
			}
            .append-side .append-item.opened {
                z-index: 1108;
            }
			.append-side .append-item .side-content {
				background: #fbfbfb;
			}
			.append-side .side-toggle .fa {
				font-size: 32px;
				line-height: 50px;
				color: #f05f40;
			}

		</style>
		<div make-panel='{"position": "right"}'>
			<div class="append-item">
				<div class="side-toggle">
					<i class="fa fa-github"></i>
				</div>
				<div class="side-content">
                    <h1>{{'GITHUB_TITLE' | translate}}</h1>
                    <div id="my-github" github-activity events="activity" options="config"></div>
				</div>
			</div>
			<div class="append-item">
				<div class="side-toggle">
					<i class="fa fa-flag-o"></i>
				</div>
				<div class="side-content">
					<h1>{{'LANG_TITLE' | translate}}</h1>
					<ul class="list-langs">
                        <li ng-repeat="lang in languages">
							<div class="input-group">
								<div class="input-group-addon"><span class="phoca phoca-{{lang.icon}}"></span></div>
								<a class="form-control btn btn-primary" ng-class="{active: lang.isCurrent()}" ng-click="lang.setCurrent()">
									{{lang.title | translate}}
								</a>
							</div>
                        </li>
					</ul>
				</div>
			</div>
		</div>
		<!----------------------------- SCRIPTS ------------------------------>
		<!-- jQuery -->
		<script src="bower/jquery/dist/jquery.js"></script>

		<!-- Bootstrap Core JavaScript -->
		<script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<!-- Angular JS -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
		<script src="bower/angular/angular.min.js"></script>
		<script src="bower/angular-resource/angular-resource.min.js"></script>
		
		<!-- Angular Translate -->
		<script src="bower/angular-translate/angular-translate.js"></script>
		<script src="bower/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
		
		<!-- jQuery Easing -->
		<!--<script src="bower/jquery.easing/jquery.easing.min.js"></script>-->
        <script src="bower/jquery-easing-original/jquery.easing.min.js"></script>
		
		<!-- jQuery FitText -->
		<script src="bower/FitText.js/jquery.fittext.js"></script>
		
		<!-- WoW Animations -->
		<script src="bower/WOW/dist/wow.min.js"></script>
		
		<!-- Modernizr -->
		<script src="public/js/modernizr.min.js"></script>
		
		<!-- Masonry -->
		<script src="bower/masonry/dist/masonry.pkgd.js"></script>
		<script src="bower/angular-masonry/angular-masonry.js"></script>
		
		<script src="bower/angular-isotope/demo/scripts/vendor/jquery.isotope.js"></script>
		<script src="bower/angular-isotope/dist/angular-isotope.js"></script>
		
		<!-- Waypoints -->
		<script src="bower/waypoints/lib/jquery.waypoints.js"></script>
		
		<!-- Easy Pie Chart -->
		<!--<script src="bower/easy-pie-chart/dist/jquery.easypiechart.min.js" type="javascript"></script>-->
        <script src="bower/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
		
		<!-- Backstretch -->
		<script src="bower/jquery-backstretch/jquery.backstretch.min.js"></script>
		
		<!-- Github Activity -->
		<!--<script src="public/js/mustache.js"></script>-->
		<script src="bower/angular-github-activity/release/js/github-activity.js"></script>
        <!--<script src="public/js/github-activity.js"></script>-->
		
		<!-- Page Slider Directive -->
		<script src="bower/angular-pageslide-directive/src/angular-pageslide-directive.js"></script>
		
		<script src="bower/imagesloaded/imagesloaded.js"></script>
		<script src="bower/angular-images-loaded/angular-images-loaded.js"></script>
		
		<script src="public/js/app.js"></script>
		<script src="public/js/controllers/index.js"></script>
		<script src="public/js/directives/directives.js"></script>
		
		<script src="public/js/utils/page_utils.js"></script>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</body>
</html>