doctype html
html
	head
		include head.html
		//include head_2.html
		include analytics.html
		
	body#page-top(ng-app="portfolio", ng-controller="indexController")
		include navigation.html
		include header.html
		include about.html
		include skills.html
		include works.html
		include hiring.html
		include contact.html
		include aside.html
		include scripts.html
		include footer.html
		
//incluse styles.css