<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" ng-cloak>
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll border-animated" href="#page-top">
				<md-icon alt="Brand" md-svg-src="public/img/icons/page_icon.svg"></md-icon>
				Eduardo Astolfi
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li class="border-animated">
					<a class="page-scroll" href="#about">{{'MENU_NAV_ABOUT' | translate}}</a>
				</li>
				<li class="border-animated">
					<a class="page-scroll" href="#skills">{{'MENU_NAV_SKILLS' | translate}}</a>
				</li>
				<li class="border-animated">
					<a class="page-scroll" href="#works">{{'MENU_NAV_WORKS' | translate}}</a>
				</li>
				<li class="border-animated">
					<a class="page-scroll" href="#hiring">{{'MENU_NAV_HIRING' | translate}}</a>
				</li>
				<li class="border-animated">
					<a class="page-scroll" href="#contact">{{'MENU_NAV_CONTACT' | translate}}</a>
				</li>
				<li class="border-animated">
					<a href="" ea-aside-trigger="asideNav">More</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


<!-- Responsive -->
<!--
<md-toolbar class="md-main-toolbar">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="toggleNav()">
			<md-icon><i class="fa fa-html5"></i></md-icon>
		</md-button>
		
		<h2><span>Eduardo Astolfi</span></h2>
		
		<span flex></span>
		
		<md-button class="page-scroll" aria-label="Favorite" href="#about">{{'MENU_NAV_ABOUT' | translate}}</md-button>
		<md-button class="page-scroll" aria-label="Favorite" href="#skills">{{'MENU_NAV_SKILLS' | translate}}</md-button>
		<md-button class="page-scroll" aria-label="Favorite" href="#works">{{'MENU_NAV_WORKS' | translate}}</md-button>
		<md-button class="page-scroll" aria-label="Favorite" href="#hiring">{{'MENU_NAV_HIRING' | translate}}</md-button>
		<md-button class="page-scroll" aria-label="Favorite" href="#contact">{{'MENU_NAV_CONTACT' | translate}}</md-button>
	</div>
</md-toolbar>
-->
