<!----------------------------- SCRIPTS ------------------------------>
<!-- jQuery -->
<script src="bower/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bower/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Angular JS -->
<script src="bower/angular/angular.min.js"></script>
<script src="bower/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="bower/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="bower/angular-aria/angular-aria.min.js"></script>
<script type="text/javascript" src="bower/angular-messages/angular-messages.js"></script>

<!-- Angular UI Bootstrap -->
<script src="bower/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="bower/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<!-- Angular Translate -->
<script src="bower/angular-translate/angular-translate.min.js"></script>
<script src="bower/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<!-- Angular Bootstrap Popover Toggle -->
<script src="bower/angular-popover-toggle/popover-toggle.js"></script>

<!-- Angular Material -->
<script type="text/javascript" src="bower/angular-material/angular-material.min.js"></script>

<!-- jQuery Easing -->
<script src="bower/jquery-easing-original/jquery.easing.min.js"></script>

<!-- jQuery FitText -->
<script src="bower/FitText.js/jquery.fittext.js"></script>

<!-- WoW Animations -->
<script src="bower/WOW/dist/wow.min.js"></script>

<!-- Masonry -->
<!--<script src="bower/masonry/dist/masonry.pkgd.min.js"></script>-->
<!--<script src="bower/angular-masonry/angular-masonry.js"></script>-->

<!-- Waypoints -->
<script src="bower/waypoints/lib/jquery.waypoints.min.js"></script>

<!-- Easy Pie Chart -->
<script src="bower/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>

<!-- Backstretch -->
<script src="bower/jquery-backstretch/jquery.backstretch.min.js"></script>

<!-- Github Activity -->
<!--<script src="bower/angular-github-activity/release/js/github-activity.min.js"></script>-->

<!-- Images Loaded -->
<script src="bower/imagesloaded/imagesloaded.pkgd.min.js"></script>

<!-- BricksJS -->
<!--<script src="node/bricks.js/dist/bricks.min.js"></script>-->

<!-- Custom Directives -->
<script src="public/js/directives/custom-aside-panel.js"></script>
<script src="public/js/directives/ea-aside-menu/ea-aside-menu.js"></script>
<!--<script src="public/js/directives/ea-material-bricks/index.js"></script>-->

<!-- Application Scripts -->
<script src="public/js/app.js"></script>
<script src="public/js/controllers/index.js"></script>
<script src="public/js/directives/directives.js"></script>


<script src="public/js/utils/page_utils.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->