<section id="skills" ng-cloak>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">{{'SKILLS_TITLE' | translate}}</h2>
				<hr class="hr-themed">
			</div>
		</div>
		
		<div flex offset="10" class="row offset-right-10 skills-container">
			<md-grid-list
				md-cols-gt-md="12" md-cols-sm="3" md-cols-md="8"
				md-row-height-gt-md="1:1" md-row-height="4:3"
				md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
				
				<md-grid-tile ng-repeat="skill in skills"
					md-colspan-gt-sm="3"
					md-rowspan-gt-sm="2">
					<md-card>
						<md-card-content>
							<!--<span class="chart" data-percent="{{skill.percent}}">
								<i ng-repeat="icon in skill.icon.split(',')" class="fa fa-4x fa-{{icon.trim()}} wow bounceIn text-primary" data-wow-delay=".1s"></i>
								<br />
								<canvas height="170" width="170"></canvas>
							</span>-->
							<h3 class="md-title text-center">
								<a class="page-scroll" href="#{{skill.link}}" ng-click="doFilter(skill.filter)">{{skill.label}}</a>
							</h3>
							<p class="text-muted">
								<i ng-repeat="icon in skill.icon.split(',')" data-wow-delay=".1s"
									class="fa fa-2x {{icon.trim()}} fa-pull-left fa-border wow bounceIn text-primary"></i>
								{{skill.desc | translate}}
							</p>
						</md-card-content>
					</md-card>
					
					
				</md-grid-tile>
			</md-grid-list>
		</div>
	</div>
	
	
	<!--
	<div class="container">
		<div class="row">
			<div ng-repeat="skill in skills" class="col-lg-3 col-md-6 text-center" ng-cloak>
				<span class="chart" data-percent="{{skill.percent}}">
					<i ng-repeat="icon in skill.icon.split(',')" class="fa fa-4x fa-{{icon.trim()}} wow bounceIn text-primary" data-wow-delay=".1s"></i>
					<br />
					<span class="percent">{{skill.percent}}</span>
					<canvas height="170" width="170"></canvas>
				</span>
				<a class="page-scroll" href="#{{skill.link}}"><h3>{{skill.label}}</h3></a>
				<p class="text-muted">{{skill.desc | translate}}</p>
			</div>
		</div>
	</div>
	-->
</section>