<title>Eduardo Astolfi - Personal Web Page</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="bower/bootstrap/dist/css/bootstrap.min.css" type="text/css">

<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="bower/font-awesome/css/font-awesome.min.css" type="text/css">

<!-- Animate -->
<link rel="stylesheet" href="bower/animate.css/animate.min.css" type="text/css">

<!-- Github Activity -->
<link rel="stylesheet" href="bower/angular-github-activity/release/css/github-activity.min.css">

<!-- Application Styles -->
<link rel="stylesheet" href="public/css/styles.css" type="text/css">