<section class="text-center" id="works" ng-cloak>
	<div class="col-lg-12 text-center">
		<h2 class="section-heading">{{'WORKS_TITLE' | translate}}</h2>
		<hr class="hr-themed">
	</div>

	<div id="filter-works">
		<ul>
			<li ng-click="filterWorks(item.filter)" ng-class="{active : item.filter === workFilter}" 
			ng-repeat="item in workFilters" class="text-muted">
				{{item.label | translate}}
			</li>
		</ul>
	</div>
	
	<div flex offset="10" class="offset-right-10">
		<!--
			md-cols-sm="1" md-cols-md="2" md-cols-gt-md="3"
			md-row-height-gt-md="1:1" md-row-height="4:3"
			md-gutter="8px" md-gutter-gt-sm="4px"
			
			
			md-row-height-sm="3:1" md-row-height="4:3"
			md-gutter-sm="100px" md-gutter-gt-md="20px"
		-->
		<md-grid-list
			md-cols-sm="1" md-cols-md="1" md-cols-lg="2" md-cols-gt-lg="6"
			md-row-height-sm="2:1" md-row-height-md="2:1" md-row-height-lg="2:1" md-row-height-gt-lg="4:3"
			md-gutter-sm="50px" md-gutter-md="50px" md-gutter-lg="50px" md-gutter-gt-lg="50px" >
			
			<md-grid-tile ng-repeat="work in works | filter:categoryFilter track by $index"
				md-rowspan-sm="1" md-rowspan-md="1" md-rowspan-lg="1" md-rowspan-gt-lg="2"
				md-colspan-sm="1" md-colspan-md="1" md-colspan-lg="1" md-colspan-gt-lg="2" >
				
				<div class="project-item {{work.filter}}" data-index="{{work.order}}">
					<a href="{{work.link}}" class="portfolio-box" target="_blank">							
						<img ng-src="{{work.image}}" class="img-responsive" alt=""/>
						
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">
									{{work.category | translate}}
								</div>
								<div class="project-name">
									{{work.name | translate}}
								</div>
							</div>
						</div>
						
					</a>
				</div>
				
				<!--<md-icon md-svg-icon="{{tile.icon}}"></md-icon>-->
				<!--<md-grid-tile-footer><h3>{{work.category}}</h3></md-grid-tile-footer>-->
			</md-grid-tile>
		</md-grid-list>
	</div>
	
	
	<!--
	<div class="container-fluid">
		<div id="projects-container" masonry ea-filter-masonry='{"id": "masonryFilter"}' preserve-order item-selector=".masonry-brick:not(.filtered)" class="row"  ng-cloak >
			<div ng-repeat="work in works track by $index" class="project-item masonry-brick {{work.filter}}" data-index="{{work.order}}">
				<a href="{{work.link}}" class="portfolio-box" target="_blank">							
					<img ng-src="{{work.image}}" class="img-responsive" alt=""/>
					<div class="portfolio-box-caption">
						<div class="portfolio-box-caption-content">
							<div class="project-category text-faded">
								{{work.category | translate}}
							</div>
							<div class="project-name">
								{{work.name | translate}}
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	-->
</section>