/* Asides Styles */

.aside-lang {
	&.active {
		background-color: white;
	}
}

/*
#my-github {
	overflow-y: auto;
	height: 100%;
}

#github-profile {
	position: fixed;
	z-index: 1000;
	top: 150px;
	right: -500px;
	width: 500px;
	background: #fbfbfb;
	padding: 10px;
	border: 1px solid #ddd;
}

#toggle-github {
	display: block;
	width: 50px;
	height: 50px;
	background: #fbfbfb;
	position: absolute;
	left: -50px;
	top: -1px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ddd;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-right: none;
	
	.fa {
		font-size: 32px;
		line-height: 50px;
		color: #f05f40;
	}
}

.list-langs {
	list-style: none;
	
	li {
		margin-bottom: 5px;
	}
	a.form-control  {
		width: 95%;
	}
}

.append-side-right .append-item {
	position:fixed;
	top: 150px;
	right: -500px;
}
.append-side {
	.append-item {
		width: 500px;
		background: #fbfbfb;
		border: 1px solid #ddd;
		z-index: 1109;
		
		.side-toggle {
			position: absolute;
			left: -50px;
			background: #fbfbfb;
			width: 50px;
			height: 50px;
			text-align: center;
			cursor: pointer;
			border: 1px solid #ddd;
			border-bottom-left-radius: 25px;
			border-top-left-radius: 25px;
			border-right: none;
			
			.fa {
				font-size: 32px;
				line-height: 50px;
				color: #f05f40;
			}
		}
		
		&.opened {
			z-index: 1108;
		}
		
		.side-content h1 {
			margin-left: 40px;
		}
	}
}
*/