/* Header Styles */

header {
	/*
	position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    */
    color: $main-theme-color-contrast;
    background-image: url(/public/img/header-bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
	.header-content {
		/*position: relative;*/
		width: 100%;
		/*text-align: center;*/
		padding: 100px 15px;
		
		.header-content-inner {
			h1 {
				margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
				font-weight: 700;
			}
			
			hr {
				margin: 30px auto;
			}
			
			p {
				margin-bottom: 50px;
				font-size: 16px;
				font-weight: 300;
				color: rgba(255,255,255,.7);
			}
		}
	}
}


.main-header {
	//margin-top: 64px;
}