/* Navbar Styles */

.navbar-default {
  border-color: rgba(34,34,34,.05);
  font-family: $font-family-title;
  background-color: $main-theme-color-contrast;
  
  @include transition(all, .35s);
  

  .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: $font-family-title;
    font-weight: 700;
    color: $main-theme-color;

	
  	img {
  		height: 24px;
  		display: inline-block;
  	}
  	
  	&.border-animated:after {
  	  bottom: -5px;
  	}
    /*
    &:hover, &:focus {
      color: $main-theme-color-darker;
    }
    */
  }

  .nav > li {
    &>a {
      &, &:focus {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: $main-theme-color-background;

      }
      &:hover, &:focus:hover {
        color: $main-theme-color;
      }
    }

    &.active {
      &>a {
        &, &:focus {
          color: $main-theme-color!important;
          background-color: transparent;
        }
        &:hover, &:focus:hover {
          background-color: transparent;
        }
      }
    }
  }
}

/*
.md-main-toolbar {
  position: fixed;
	top: 0;
}
*/