/*  */
@media(min-width:768px) {
    /* Navbar */
    .navbar-default {
        border-color: rgba(255,255,255,.3);
        background-color: transparent;
    
        .navbar-header .navbar-brand {
            color: rgba(255,255,255,.7);
            
            img {
                &:hover, &:focus {
                    color: $main-theme-color-contrast;
                }
            }
        }
        
        .nav > li {
            &>a {
                &, &:focus {
                    color: rgba(255,255,255,.7);
                }
                
                &:hover, &:focus:hover {
                    color: $main-theme-color-contrast;
                }
            }
        }
        
        &.affix {
            border-color: rgba(34,34,34,.05);
            background-color: $main-theme-color-contrast;
            
            .navbar-header .navbar-brand {
                font-size: 14px;
                color: $main-theme-color;
                
                &:hover, &:focus {
                    color: $main-theme-color-darker;
                }
            }
            
            .nav > li {
                &>a {
                    &, &:focus {
                        color: $main-theme-color-background;
                    }
                    &:hover, &:focus:hover {
                        color: $main-theme-color;
                    }
                }
            }
        }
    }
    
    
    /* Header */
    header {
		min-height: 100%;
    	
    	.header-content {
			position: absolute;
			top: 50%;
			padding: 0 50px;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			
			.header-content-inner {
				margin-right: auto;
				margin-left: auto;
				max-width: 1000px;
				
				p {
					margin-right: auto;
					margin-left: auto;
					max-width: 80%;
					font-size: 18px;
				}
			}
    	}
    }
    
    /* Portfolio */
    
    .portfolio-box {
    	.portfolio-box-caption {
    	    opacity: 0;
    	    background: rgba(240,95,64,.9);
    	    
    	    .portfolio-box-caption-content {
    	        width: 100%;
                top: 50%;
                
                .project-category {
        			font-size: 16px;
                }
                
                .project-name {
        			font-size: 22px;
                }
    	    }
    	}
        
        &:hover .portfolio-box-caption {
    		opacity: 1;
    	}
    }
    
}