/* Helpers - Variable file along with starting point Mixins and Placeholders.
========================================================================== */

@import 'helpers/_variables.scss';
@import 'helpers/_mixins.scss';
//@import 'helpers/_placeholders.scss'; // TODO

/* Vendors - Default fall-backs and external files.
========================================================================== */

// TODO
//@import 'vendors/_normalize.scss';
@import 'vendors/_reset.scss';

 // Your settings for Typesettings :)
/*
$font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-serif: Georgia, 'Times New Roman', serif;
$font-mono: 'Lucida Console', Monaco, monospace;
$text-color: #000;
$base-vertical-unit: 6px;
$base-line-multi: 4;
$base-font-size: 16px;
$ms-ratio: 1.414;
$paragraph-indent: true;
$paragraph-justify: true;
$load-typesetted: true;

@import 'bower_components/typesettings/_typesettings.scss';*/


/* Vendors-Extensions - Extended external files
========================================================================== */

// TODO
//@import 'vendors-extensions/_angular-material.scss';


/* Base - Base files
========================================================================== */

@import 'base/_general.scss';


/* Layout - Structure and layout files.
========================================================================== */

@import 'layout/_aside.scss';
@import 'layout/_header.scss';
@import 'layout/_navbar.scss';



/* Components - Re-usable site elements.
========================================================================== */ 

@import 'components/_buttons.scss';
@import 'components/_icons.scss';


/* Pages - Application Pages files.
========================================================================== */ 

//@import 'pages/_about.scss';
@import 'pages/_contact.scss';
@import 'pages/_hiring.scss';
@import 'pages/_portfolio.scss';
@import 'pages/_skills.scss';


@import 'layout/_responsive.scss';