$font-size: '';
$main-color: #f05f40;

@mixin transition($what, $secs) {
  -webkit-transition: $what $secs;
     -moz-transition: $what $secs;
          transition: $what $secs;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
  webkit-tap-highlight-color: #222;
}

hr {
  max-width: 50px;
  border-color: $main-color;
  border-width: 3px;

  &.light {
    border-color: #fff;
  }
}

a {
  color: $main-color;
  @include transition(all, .35s);

  &:hover, &:focus {
    color: #eb3812;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: $main-color;
}

.bg-dark {
  color: #fff;
  background-color: #222;
}

.text-faded {
  color: rgba(255,255,255,.7);
}

section {
  padding: 90px 0;
}

aside {
  padding: 50px 0;
}

.no-padding {
  padding: 0;
}

.navbar-default {
  border-color: rgba(34,34,34,.05);
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  background-color: #fff;
  @include transition(all, .35s);

  @media(min-width:768px) {
    border-color: rgba(255,255,255,.3);
    background-color: transparent;
  }

  .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
    color: #f05f40;

    @media(min-width:768px) {
      color: rgba(255,255,255,.7);
    }

    &:hover, &:focus {
      color: #eb3812;

      @media(min-width:768px) {
        color: #fff;
      }
    }
  }

  .nav > li {
    &>a {
      &, &:focus {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        color: #222;

        @media(min-width:768px) {
          color: rgba(255,255,255,.7);
        }
      }
      &:hover, &:focus:hover {
        color: #f05f40;

        @media(min-width:768px) {
          color: #fff;
        }
      }
    }

    &.active {
      &>a {
        &, &:focus {
          color: #f05f40!important;
          background-color: transparent;
        }
        &:hover, &:focus:hover {
          background-color: transparent;
        }
      }
    }
  }

  &.affix {
    @media(min-width:768px) {
      border-color: rgba(34,34,34,.05);
      background-color: #fff;

      .navbar-header .navbar-brand {
        font-size: 14px;
        color: #f05f40;

        &:hover, &:focus {
          color: #eb3812;
        }
      }

      .nav > li {
        &>a {
          &, &:focus {
            color: #222;
          }
          &:hover, &:focus:hover {
            color: #f05f40;
          }
        }
      }
    }
  }
}

header {
	position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	
	@media(min-width:768px) {
		min-height: 100%;
	}
	.header-content {
		position: relative;
		width: 100%;
		padding: 100px 15px;
		text-align: center;
		
		@media(min-width:768px) {
			position: absolute;
			top: 50%;
			padding: 0 50px;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	
		.header-content-inner {
			@media(min-width:768px) {
				margin-right: auto;
				margin-left: auto;
				max-width: 1000px;
			}
			h1 {
				margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
				font-weight: 700;
			}
			
			hr {
				margin: 30px auto;
			}
			
			p {
				margin-bottom: 50px;
				font-size: 16px;
				font-weight: 300;
				color: rgba(255,255,255,.7);
				
				@media(min-width:768px) {
					margin-right: auto;
					margin-left: auto;
					max-width: 80%;
					font-size: 18px;
				}
			}
		}
	}
}

#services {
	background-color: #FFF;
}

.section-heading {
    margin-top: 0;
}

.service-box {
    margin: 50px auto 0;
    max-width: 400px;
	
	@media(min-width:992px) {   
        margin: 20px auto 0;
    }
	
	p {
		margin-bottom: 0;
	}

}

#portfolio {
	background-color: #FFF;
}

.portfolio-box {
	display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
	
	.portfolio-box-caption {
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: #fff;
		opacity: 0;
		background: rgba(240,95,64,.9);
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		
		.portfolio-box-caption-content {
			position: absolute;
			top: 50%;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
			
			.project-category {
				padding: 0 15px;
				font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
				
				@media(min-width:768px) {
					font-size: 16px;
				}
			}
			
			.project-name {
				padding: 0 15px;
				font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
				font-size: 18px;
				
				@media(min-width:768px) {
					font-size: 22px;
				}
			}
		}
	}
	
	&:hover .portfolio-box-caption {
		opacity: 1;
	}
}

#hiring {
	background-color: #FFF;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.text-primary {
    color: #f05f40;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 700;
}

.btn-xl {
    padding: 15px 30px;
}

.btn-default {
    border-color: #fff;
    color: #222;
    background-color: #fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
	&:hover, &:focus, .focus {
		border-color: #ededed;
		color: #222;
		background-color: #f2f2f2;
	}
	
	&:active, .active {
		border-color: #ededed;
		color: #222;
		background-color: #f2f2f2;
		background-image: none;
	}
	
	&.disabled, &[disabled] {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: #fff;
			background-color: #fff;
		}
	}
	
	.badge {
		color: #fff;
		background-color: #222;
	}
}

fieldset[disabled] {
	&.btn-default {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: #fff;
			background-color: #fff;
		}
	}
	&.btn-default {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: #f05f40;
			background-color: #f05f40;
		}
	}
}

.open > .dropdown-toggle {
	.btn-default {
		border-color: #ededed;
		color: #222;
		background-color: #f2f2f2;
		background-image: none;
	}
	
	.btn-primary {
		border-color: #ed431f;
		color: #fff;
		background-color: #ee4b28;
		background-image: none;
	}
}

.btn-primary {
	border-color: #f05f40;
    color: #fff;
    background-color: #f05f40;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
	&:hover, &:focus, &.focus {
		border-color: #ed431f;
		color: #fff;
		background-color: #ee4b28;
	}
	
	&:active, &.active {
		border-color: #ed431f;
		color: #fff;
		background-color: #ee4b28;
		background-image: none;
	}
	
	&.disabled, &[disabled] {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: #f05f40;
			background-color: #f05f40;
		}
	}
	
	.badge {
		color: #f05f40;
		background-color: #fff;
	}
}

/* Text selected styles (mozilla) */
::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

/* Text selected styles */
::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

/* Image selected styles */
img {
	&::selection, &::-moz-selection {
		color: #fff;
		background: 0 0;
	}
}