/* General Styles */

html {
  color: $main-theme-text-color;
}

body {
  font-family: $font-family-def;
  -webkit-tap-highlight-color: $main-theme-color-background;
}

::selection {
    background: rgba($md-light-blue, 0.5);
    color: $main-theme-text-color;
}

hr.hr-themed {
  max-width: 50px;
  border-color: $main-theme-color;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;

  &.hr-light {
    border-color: $main-theme-color-contrast;
  }
  
  &.hr-full {
	  max-width: none;
  }
}

a {
  color: $main-theme-color;
  
  @include transition(all, .35s);

  &:hover, &:focus {
    color: $main-theme-color-darker;
  }
}

h1, h2, h3,
h4, h5, h6 {
  font-family: $font-family-title; /* TODO */
}

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.bg-primary {
  background-color: $main-theme-color;
}

.bg-dark {
  color: $main-theme-color-contrast;
  background-color: $main-theme-color-background;
}

.text-faded {
  color: rgba(255,255,255,.7); /* See HUE */
}


.clickable {
  //cursor: pointer;
}

section {
  padding: 80px 0;
}

.no-padding {
  padding: 0;
}

.section-heading {
    margin-top: 0;
}

.text-primary {
    color: $main-theme-color;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.offset-right-10 {
    margin-right: 10%;
}

.text-muted {
    color: $main-theme-text-color-lighter;
}

.alert {
	//border-radius: 0px;
}

.border-animated {
  &:after {
    position: relative;
    bottom: 5px;
  	content: '';
  	display: block;
  	margin: auto;
  	height: 3px;
  	width: 0;
  	background: transparent;
  	transition: width .5s ease, background-color .5s ease;
  }
  
  &:hover:after {
  	width: 100%;
	  background: $main-theme-color;
  }
}

/* Text selected styles (mozilla) */
::-moz-selection {
    text-shadow: none;
    color: $main-theme-color-contrast;
    background: $main-theme-color-background;
}

/* Text selected styles */
::selection {
    text-shadow: none;
    color: $main-theme-color-contrast;
    background: $main-theme-color-background;
}

/* Image selected styles */
img {
	&::selection, &::-moz-selection {
		color: $main-theme-color-contrast;
		background: 0 0;
	}
}