<span class="col-xs-12">
    <label>Imagenes y fotografías:</label>
</span>
<span class="col-xs-12">
    <a href="http://www.gonzalocastro.co.uk" target="_blank">Gonzalo Castro</a>
</span>
<span class="col-xs-12">
    <label>Diseño y maquetación:</label>
</span>
<span class="col-xs-12">
    <a href="http://www.graelsiasolucionesgraficas.es" target="_blank">María Luengo</a>
</span>
<span class="col-xs-12">
    <label>Traducciónes:</label>
</span>
<span class="col-xs-12">
    <a href="" target="_blank">Kayla Schott</a>
     / 
    <a href="" target="_blank">Macarena Escobar</a>
</span>

<button type="button" class="close" aria-label="Close" ng-click="toggleGreetingPopover()"><span aria-hidden="true">&times;</span></button>