/* Contact Section Styles */

#contact {
    //background:transparent;
	background: url(/public/img/contact-bg.jpg) bottom left no-repeat fixed;
	background-position: center;
    color: $main-theme-color-contrast;
	//padding: 80px 0;
	
	.socials {
		//margin:0;
		padding: 0;
		margin-bottom: 24px;
		
		li {
			display: inline-block;
			margin: 0 15px 15px 0;
			
			a {
				display: inline-block;
				width: 48px;
				height: 48px;
				font-size: 32px;
				line-height: 48px;
				color: #fff;
				//text-align:center;
				//text-decoration:none;
				//margin:0;
				//padding:0;
				/*opacity: 0.7;*/
				
				@include transition(color 0.2s ease-out);
				
				&:hover {
					//padding: 0;
					color: $main-theme-color;/*B52405*/
					/*opacity: 1;*/
					//text-decoration: none;
				}
			}
		}
	}
}

.md-card-input-container {
    padding: 10px;
    
    + .md-card-input-container {
    	margin-top: 30px;
	}
	
	.md-input-icon-themed {
	    color: #f05f40;
	}
	
	.mg-messages {
	    margin-left: 36px;
	}
}

.md-card-input-container label,
.md-card-input-container input,
.md-card-input-container textarea,
form .btn-submit {
    font-size: 24px;
}

/*
#contact-form {
	.form-group {
		position:relative;
		
		label {
			display:none;
			font-size:18px;
			line-height:24px;
			font-weight:400;
			text-transform:uppercase;
		}
		
		.fa {	//[class*="fa"]
			display:block;
			width:64px;
			position:absolute;
			top:0;
			left:5px;
			color:#f05f40;
			font-size:32px;
			line-height:68px;
			text-align:center;
			font-weight:300;
		}
	}
	
	.form-control {
		background:#fff;
		//background:rgba(75, 204, 208, 0.7);*//*rgba(196,162,77,0.3);
		border:none;
		border-radius:1px;
		outline:none;
		//box-shadow:none;
		margin-bottom:30px;
		height:68px;
		font-size:30px;
		line-height:48px;
		font-weight:300;
		color:#f05f40;
		padding-left:64px;
		
		&:focus {
			border:none;
			outline:none;
			//box-shadow:none;
		}
		
		&::-webkit-input-placeholder, 
		&:-ms-input-placeholder { // WebKit browsers and IE10+
			color:    #f05f40;
		}
		&:-moz-placeholder, 
		&::-moz-placeholder { // Mozilla Firefox 4 to 19+
			color:    #f05f40;
			opacity:1;
		}
	}
}

#contact-form textarea.form-control {
    height:auto;
	max-width:100%;
	min-width:100%;
    font-size:30px;
    line-height:42px;
	padding-top:14px;
}

#contact-form .error-message {
    background:#f05f40;
    padding:10px 20px;
    position:absolute;
    top:-10px;
    right:-10px;
    font-size:16px;
    font-weight:400;
}

#contact-form.no-placeholder {
	.form-group {
		label {
			display:block;
		}
		
		.fa {	//[class*="fa"]
			top:30px;
		}
	}		
}
*/