/* Hiring Section Styles */

#hiring {
	background-color: $main-theme-color-contrast;
	
	/*
	.experience {
		padding: 0;
		
		.panel-title a {
			color: #F05F40;
		}
	}
	
	.exp-description {
		height: 130px;
	}
	*/
}


#hiring md-content {
	width: 60%;
    margin-left: 20%;
    height: 500px;
}

#hiring md-content md-tabs {
	height: 100%;
}

md-fab-toolbar.md-is-open {
	//background-color: orange;
}