/* Portfolio Section Styles */

#works {
	//background-color: $main-theme-color-contrast;
}

.portfolio-box {
	display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
	
	.portfolio-box-caption {
		display: block;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		color: $main-theme-color-contrast;
		opacity: 1;
		
		-webkit-transition: all .35s;
		-moz-transition: all .35s;
		transition: all .35s;
		
		.portfolio-box-caption-content {
			position: absolute;
            top: 15%;
			text-align: center;
			transform: translateY(-50%);
			background-color: $main-theme-color;
			
			.project-category {
				padding: 0 15px;
				font-family: $font-family-title;
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;
			}
			
			.project-name {
				padding: 0 15px;
				font-family: $font-family-title;
				font-size: 18px;
			}
		}
	}
}

#filter-works {
	margin-bottom: 50px;
	
	ul {
		list-style:none;
		padding:0;
		margin:0;
		
		li {
			display:inline-block;
			padding:0;
			line-height:24px;
			background:transparent;
			margin:0 0 0 10px;
			cursor: pointer;
			
			+ li:before {
		  		content: "/";
			  	margin: 0px 5px;
			  	font-size: 24px;
			  	line-height: 24px;
			  	font-weight: 300;
			  	color: $main-theme-text-color-lighter;
			}
			
			&, &:active, &:hover {
				padding:0;
				font-size:24px;
				line-height:24px;
				font-weight:300;
				background:transparent;
				text-transform:uppercase;
				text-decoration:none;
			}
			
			&:hover, &.active {
				color: $main-theme-color;
			}
		}
	}
}

/*
#projects-container {
    margin:0 auto;
    //visibility:hidden;
	
	.project-item {
		display:block;
		position:relative;
		margin:0;
		width:350px;
		@include transform(scale(1));		
		opacity:1;
		filter: alpha(opacity=100);
		overflow:hidden;
	
		.filtered {
			@include transform(scale(0));
			opacity:0;
			filter:alpha(opacity=0);
		}
	}
}
*/
/*
.masonry-wrapper{
    margin:0 auto;
    padding:0;
    overflow:hidden;
}

.masonry {
  // Transition Duration
  @include transition-duration(0.7s);
  // Transition Property 
  @include transition-property(height, width);
  transition-timing-function: ease-in-out;
}
.masonry .masonry-brick {
  // Transition Duration 
  @include transition-duration(0.7s);
  // Transition Property 
  @include transition-property(left, right, top, transform, opacity);
  transition-timing-function: ease-in-out;
}
*/