/* Skills Section Styles */
#skills .skills-container {
    margin-top: 40px;
    
    md-card {
    	height: 200px;
    }
}
/*
#skills {
	background-color: $main-theme-color-contrast;
}

.chart {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 170px;
	margin-bottom: 15px;//50px
	text-align: center;

	i.fa {
		margin-top: 50px;
	}
	
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.percent {
	display: inline-block;
	line-height: 70px;//170px
	font-size: 45px;//50px
	font-weight: 300;
	z-index: 2;

	&:after {
		content: '%';
		margin-left: 0.1em;
		font-size: 40px;
	}
}*/