@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}



@mixin setFlagSizeFromHeight($rate, $height) {
	width: $height / $rate;
	height: $height;
}

@function prefix($property, $prefixes: (webkit moz o ms)) {
    $vendor-prefixed-properties: transform background-clip background-size;
    $result: ();
    @each $prefix in $prefixes {
       @if index($vendor-prefixed-properties, $property) {
         $property: -#{$prefix}-#{$property}
       }
       $result: append($result, $property);
    }
    @return $result;
}
 
@function trans-prefix($transition, $prefix: moz) {
    $prefixed: ();
    @each $trans in $transition {
        $prop-name: nth($trans, 1);
        $vendor-prop-name: prefix($prop-name, $prefix);
        $prop-vals: nth($trans, 2);
        $prefixed: append($prefixed, ($vendor-prop-name $prop-vals), comma);
    }
    
    @return $prefixed;
}
 
 
@mixin make-transition($transProp, $values...) { 
    $transitions: ();
    @each $declaration in $values {
        $prop: nth($declaration, 1);
        $prop-opts: ();
        $length: length($declaration);
        @if $length > 1 {
          @for $i from 2 through $length {
              $prop-opts: append($prop-opts, nth($declaration, $i));   
          }
        }
        $trans: ($prop, $prop-opts);
        $transitions: append($transitions, $trans, comma);
    }
      
    -webkit-#{$transProp}: trans-prefix($transitions, webkit);
    -moz-#{$transProp}: trans-prefix($transitions, moz);
    -ms-#{$transProp}: trans-prefix($transitions, ms);
    -o-#{$transProp}: trans-prefix($transitions, o);
    #{$transProp}: $values;
}

@mixin transition($values...) {
  @include make-transition("transition", $values...);
}
@mixin transition-delay($values...) {
  @include make-transition("transition-delay", $values...);
}
@mixin transition-duration($values...) {
  @include make-transition("transition-duration", $values...);
}
@mixin transition-property($values...) {
  @include make-transition("transition-property", $values...);
}
@mixin transition-timing-function($values...) {
  @include make-transition("transition-timing-function", $values...);
}
@mixin transform($values...) {
  @include make-transition("transform", $values...);
}