/** COLOR **/
$white: #FFFFFF; //rgba(23, 126, 137, 100)

// Coolors Exported Palette - coolors.co/177e89-084c61-ffc857-f05f40-323031
$light-blue: #177e89; //rgba(23, 126, 137, 100)
$dark-blue: #084c61; //rgba(8, 76, 97, 100)
$light-orange: #f05f40; //rgba(240, 95, 64, 100)
$light-yellow: #ffc857; //rgba(255, 200, 87, 100)
$light-black: #323031; //rgba(50, 48, 49, 100)

// Google Material Design Colors
$md-light-blue: #5BC0EB; //rgba(63, 91, 171, 100)
$md-dark-blue: #3F51B5; //rgba(91, 192, 235, 100)
$md-light-red: #F44336; //rgba(244, 67, 54, 100)
$md-light-orange: #FF5722; //rgba(255, 87, 34, 100)
$md-light-black: #282727; //rgba(40, 39, 39, 100)

// Main Colors
$main-theme-color: $light-orange;
$main-theme-color-contrast: $white;
$main-theme-color-background: $light-black;

$main-theme-color-2: $light-blue;
$main-theme-color-3: $dark-blue;
$main-theme-color-4: $light-yellow;

$main-theme-color-darker: darken($main-theme-color, 20); //#bb2d0f
$main-theme-color-lighter: lighten($main-theme-color, 20); //#f7ae9f

$main-theme-color-error: $main-theme-color-4;

$main-theme-text-color: $md-light-black;
$main-theme-text-color-darker: darken($main-theme-text-color, 20);
$main-theme-text-color-lighter: lighten($main-theme-text-color, 30);
/*
$color-error: #ff3030;

$theme-color: #F05F40;//$main-theme-color
$theme-contrast: #FFFFFF;//$main-theme-color-contrast
$theme-contrast-inverted: #222222;//$main-theme-color-background

$main-color: #f05f40;
$theme-color-darken: darken($theme-color, 20); //$main-theme-color-darker
$theme-color-lighten: lighten($theme-color, 20); //$main-theme-color-lighter
$theme-contrast-inverted-lighten: lighten($theme-contrast-inverted, 80); //$main-theme-color-contrast
*/

$font-size-sm: 13px;
$font-size-md: 14px;
$font-size-def: 16px;
$font-size-lg: 18px;
$font-size-xl: 22px;

$font-family-def: Merriweather, 'Helvetica Neue', Arial, sans-serif;
$font-family-title: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;

$main-font-family-serif: Georgia, serif;
$main-font-family-sans-serif: Arial, Helvetica, sans-serif;
$main-font-family-monospace: "Courier New", Courier, monospace;
$main-font-family-monospace-bold: "Lucida Console", Monaco, monospace;

//    font-family: "Chaparral Pro", Georgia, serif;
/* font-family: "Freight Sans Pro", Arial, sans-serif; */

$flag-icon-size: 17px;