.no-scroll {
    overflow: hidden !important;
    /*width: 98%;*/
}

/******* Aside Styles ********/
.aside-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-width: 0px;
  border-style: solid;
  border-color: #333;
  background-color: transparent;
  transition: border-width 0.3s, background-color 0.3s, height 0s 0.3s;
  z-index: 9990;
}

.aside-nav.aside-nav-open {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: border-width 0.3s, background-color 0.3s;
}
.aside-nav-left.aside-nav-open {
    border-width: 0px 0px 0px 90px;
}
.aside-nav-right.aside-nav-open {
    border-width: 0px 90px 0px 0px;
}
.aside-nav-top.aside-nav-open {
    border-width: 90px 0px 0px 0px;
}
.aside-nav-bottom.aside-nav-open {
    border-width: 0px 0px 90px 0px;
}

.aside-overlay {
  position: absolute;
  width: 100%;
  /*z-index: 9990;*/
}

.aside-nav-open .aside-overlay {
  height: 100%;
}

.aside-nav-trigger-open {
    /*z-index: 9999;*/
}

/********* Aside List Styles ************/

.aside-nav ul {
  position: fixed;
  margin: 0;
  padding: 0;
  list-style: none;
  backface-visibility: hidden;
}

.aside-nav-left ul,
.aside-nav-right ul {
    display: block;
    top: 75px;
    width: 90px;
}
.aside-nav-top ul,
.aside-nav-bottom ul {
    display: flex;
    left: 100px;
    width: auto;
}
.aside-nav-top ul li + li,
.aside-nav-bottom ul li + li {
    margin-left: 25px;
}

.aside-nav-left ul {
    left: 0;
}
.aside-nav-right ul {
    right: 0;
}
.aside-nav-top ul {
    top: 20px;
}
.aside-nav-bottom ul {
    bottom: 20px;
}

.aside-nav ul li {
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s, opacity 0.2s, visibility 0s 0.3s;
  
}

.aside-nav ul li a {
  display: block;
  width: 100%;
  text-align: center;
  display: block;
  outline: none;
  text-decoration: none;
  /*color: transparent;
  font-size: 0px;*/
}

.aside-nav.aside-nav-open ul li {
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
  
}
/*
.aside-nav > * {
    transform: translate3d(-100%, 0, 0);
}

.aside-nav.aside-nav-open > * {
    transform: translate3d(0, 0, 0);
}
*/
/*
.aside-nav ul li:first-child {
  transform: translate3d(-100%, 200%, 0);
}

.aside-nav ul li:nth-child(2) {
  transform: translate3d(-100%, 100%, 0);
}

.aside-nav ul li:nth-child(3) {
  transform: translate3d(-100%, 0, 0);
}

.aside-nav ul li:nth-child(4) {
  transform: translate3d(-100%, -100%, 0);
}

.aside-nav ul li:nth-child(5) {
  transform: translate3d(-100%, -200%, 0);
}
*/

/*
.aside-nav ul li a:before {
  color: #04a466;
  font-size: 48px;
  transition: color 0.2s;
}

.aside-nav ul li a:hover:before, .aside-nav ul li a:focus:before {
  color: #fff;
}
*/



/******** Aside Trigger Styles ********/

.aside-menu-inner-trigger {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.aside-nav-left .aside-menu-inner-trigger {
    left: 20px;
    top: 15px;
}
.aside-nav-right .aside-menu-inner-trigger {
    right: 20px;
    top: 15px;
}
.aside-nav-top .aside-menu-inner-trigger {
    top: 20px;
    left: 20px;
}
.aside-nav-bottom .aside-menu-inner-trigger {
    bottom: 20px;
    left: 20px;
}

.aside-menu-inner-trigger span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  margin-top: -2px;
  background-color: #fff;
  font-size: 0px;
  user-select: none;
  transition: background-color 0.3s;
}

.aside-menu-inner-trigger span:before, .aside-menu-inner-trigger span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  content: '';
  transition: transform 0.3s;
}

.aside-menu-inner-trigger span:before {
  transform: translateY(-250%);
}

.aside-menu-inner-trigger span:after {
  transform: translateY(250%);
}

.aside-menu-inner-trigger.aside-nav-trigger-open span {
  background-color: transparent;
}

.aside-menu-inner-trigger.aside-nav-trigger-open span:before {
  transform: translateY(0) rotate(45deg);
}

.aside-menu-inner-trigger.aside-nav-trigger-open span:after {
  transform: translateY(0) rotate(-45deg);
}

.aside-menu-inner-trigger.hide-inner-trigger {
    display: none;
}
.aside-menu-inner-trigger.hide-inner-trigger.aside-nav-trigger-open {
    display: block;
}