/* Buttons Styles */
/*
.btn {
    border: 0;
    border-radius: 300px;
    text-transform: uppercase;
    font-family: $font-family-title;
    font-weight: 700;
}
*/
.btn-xl {
    padding: 15px 30px;
}
/*
.btn-default {
    border-color: $main-theme-color-contrast;
    color: $main-theme-color-background;
    background-color: $main-theme-color-contrast;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
	&:hover, &:focus, .focus {
		border-color: $main-theme-color-contrast;
		color: $main-theme-color-background;
		background-color: $main-theme-color-contrast;
	}
	
	&:active, .active {
		border-color: $main-theme-color-contrast;
		color: $main-theme-color-background;
		background-color: $main-theme-color-contrast;
		background-image: none;
	}
	
	&.disabled, &[disabled] {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: $main-theme-color-contrast;
			background-color: $main-theme-color-contrast;
		}
	}
}

.btn-primary {
	border-color: $main-theme-color;
    color: $main-theme-color-contrast;
    background-color: $main-theme-color;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
	
	&:hover, &:focus, &.focus {
		border-color: $main-theme-color-darker;
		color: $main-theme-color-contrast;
		background-color: $main-theme-color-darker;
	}
	
	&:active, &.active {
		border-color: $main-theme-color-darker;
		color: $main-theme-color-contrast;
		background-color: $main-theme-color-darker;
		background-image: none;
	}
	
	&.disabled, &[disabled] {
		&:hover, &:focus, &.focus, &:active, &.active {
			border-color: $main-theme-color;
			background-color: $main-theme-color;
		}
	}
}

.btn-theme{
	color:#fff;
	background-color:#f05f40;
	padding:15px 90px;
	font-size:24px;
	font-weight:300;
	text-transform:uppercase;
	border:none;
	//border-radius:0;
	-webkit-transition:background-color 0.2s ease-out;
	transition:background-color 0.2s ease-out;
}

.input-group .input-group-addon {
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-color: $main-theme-color;
	background-color: $main-theme-color;
}
*/